<div class="home-content">
  <h2 class="app-title">
    <span style="font-size:65px; color:white">P</span>ray <span style="font-size:65px; color:white">F</span>or <span style="font-size:65px; color:white">O</span>ur <span style="font-size:65px; color:white">W</span>orld
  </h2>

  <p class="about" align="center">
    About Coronavirus,
    <br>Disaster, Poverty, Disease...
  </p>

  <h1 class="title" align="center">
    Our Prayers
    <br>Make Our World Better !
  </h1>

  <p class="total-number" align="center">
    Total Number of Prays <%= @number %>
  </p>
  <%= form_tag(posts_path,:method => 'get') do %>
    <%= button_tag posts_path, class: "link-post" do %>
      <%= 'Pray Now' %>
    <% end %>
  <% end %>
</div>
