<div class="home-content">
  <p class="about" align="center">
    About Coronavirus,
    <br>Disaster, Poverty, Disease...
  </p>

  <h1 class="title" align="center">
    Our Prayers
    <br>Make The World Better !
  </h1>

  <p class="total-number" align="center">
    Total Number of Prays <%= @number %>
  </p>
  <%= form_tag(posts_path,:method => 'get') do %>
    <%= button_tag posts_path, class: "link-post" do %>
      <%= 'Pray For The World' %>
    <% end %>
  <% end %>
</div>
