<div class="home-content">
  <p class="about" align="center">
    About Coronavirus,
    <br>Disaster, Poverty, Disease...
  </p>

  <h1 class="title" align="center">
    Our Prayers
    <br>Make The World Better !
  </h1>

  <h1 class="link-post" align="center">
  <%= link_to "Pray For The World", posts_path %>
  </h1>
</div>
