@import "semantic-ui";

.chatbox {
  height: 540px;
}

#messages {
  height: 15em;
  overflow: auto;
  word-break: break-all;
}

.input {
  button {
    display:none;
  }
}
//chatroom
article {
  margin: 3% auto;
  text-align: center;
}

h4.ui.center {
  color: white;
  padding-bottom: 10px;
}

.search-input {
  padding-bottom: 30px;
}

input.ui.gray {
  margin-right: 20px;
  width: 30%
}

button.ui.gray {
  margin-left: 20px;
  width: 30%;
}
button.ui.lighter {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 18px;
}

input#message_body {
  margin-top: 10px;
}

em {
  border-bottom: 1px solid #888888;
}

.summary {
  padding-bottom: 10px;
  padding-right: 100px;
}

.space {
  padding-left: 15px;
}

.message-space {
  margin-right: 100px;
}

small {
  float: right;
  opacity: .6;
  margin-top: -30px;
}
//--
body {
  background: linear-gradient(41deg, purple 25%, orange 50%, white) fixed;
  background-size: cover;
}
//welcome
.home-content {
  margin: 8% auto;
  text-align: center;
}

.about {
  font-size: 35px;
  padding-bottom: 30px;
}

.title {
  font-size: 65px;
  color: white;
  padding-bottom: 8%;
}

.total-number {
  font-size: 25px;
  color: white;
  padding-bottom: 3%;
}

.link-post {
  font-size: 35px;
  border: 1px solid #888888;
  filter: drop-shadow(0 0 0.2rem black);
  background: white;
  border-radius: .5em;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}

.link-post:hover {
  opacity: .8;
}

a {
  text-decoration: none;
  color: #888888;
  font-weight: lighter;
}

a:hover {
  color: #888888;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;  /* 背景カラー */
  z-index: 9999;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}

body.fadeout::after {
  opacity: 1;
}

body.fadeout article{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
//--
